@model IEnumerable<SportsAppMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th><a asp-action="AddorEdit" class="btn btn-outline-success">Add User</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.UserId" onclick="return confirm('Are you sure to delete this test?')"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
